

<title>:: Oreo Hospital :: Patient Profile</title>
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="~/AdminFiles/assets/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="~/AdminFiles/assets/css/main.css">
<link rel="stylesheet" href="~/AdminFiles/assets/css/color_skins.css">

<section class="content profile-page">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-5 col-sm-12">
                <h2>
                    Patient Profile
                    <small class="text-muted">Welcome to Oreo</small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-7 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="/Admin/Index"><i class="zmdi zmdi-home"></i> Oreo</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Patients</a></li>
                    <li class="breadcrumb-item active">Patient Profile</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="card member-card">
                    <div class="body">
                        <h4 class="m-t-10">
                            @ViewBag.ViewModel.Username
                        </h4>
                        <strong>Email</strong>
                        <p>@ViewBag.ViewModel.Email</p>
                        <strong>Phone</strong>
                        <p>@ViewBag.ViewModel.PhoneNumber</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="card" id="timeline">
                    <div class="body">
                        <button class="btn btn-white btn-icon btn-round d-none d-md-inline-block float-right m-l-10" type="button" data-toggle="modal" data-target="#addrecipe">
                            <i class="zmdi zmdi-plus"></i>
                        </button>
                        <table class="table m-b-0 table-hover">
                            <thead>
                                <tr>
                                    <th>Header</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody id="recipesOfPatient">
                                <h1>@ViewBag.ViewModel.Recipes.Count</h1>
                                @for (int i = 0; i < ViewBag.ViewModel.Recipes.Count; i++)
                                {
                                    <tr onclick="ReceipClick('@ViewBag.ViewModel.Recipes[i].Id')" data-toggle="modal" data-target="#recipeView">
                                        <td>@ViewBag.ViewModel.Recipes[i].RecipeHeader</td>
                                        <td>@ViewBag.ViewModel.Recipes[i].WriteTime</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="addrecipe" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">Add Recipe</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-line">
                        <input id="recipeHeader" type="text" class="form-control" placeholder="Header of recipe">
                        <textarea class="form-control" id="recipeContent" placeholder="Write content of recipe" style="margin-top:5%;"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="AddRecipe('@ViewBag.ViewModel.PatientId')" class="btn btn-primary btn-round waves-effect" data-dismiss="modal">Add</button>
                <button type="button" class="btn btn-simple btn-round waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="recipeView" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" id="modalDialog">
        <div class="modal-content" id="modalContent">
            <div class="modal-header" id="modalHeader">
                <h4 class="title" id="defaultModalLabel">Recipe</h4>

            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-line">

                        <label id="recipeHeaderL" class="form-control">

                        </label>
                        <label class="form-control" id="recipeContentL" style="margin-top:5%;">

                        </label>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/AccessaryFiles/js/signalr/dist/browser/signalR.js"></script>
<script src="~/AdminFiles/assets/bundles/libscripts.bundle.js"></script>
<script src="~/AdminFiles/assets/bundles/vendorscripts.bundle.js"></script>
<script src="~/AdminFiles/assets/bundles/mainscripts.bundle.js"></script>
<script src="~/AccessaryFiles/js/user.js"></script>
<script src="~/AccessaryFiles/js/site.js"></script>

